services:
  headscale:
    image: headscale/headscale:stable   # Alpine = has shell, easier debugging
    container_name: headscale
    restart: unless-stopped
    ports:
      - "0.0.0.0:8081:8080"
      - "0.0.0.0:9090:9090"
    volumes:
      - headscale_data:/var/lib/headscale
      - ./headscale/config:/etc/headscale
      - ./headscale/lib:/var/lib/headscale
      - ./headscale/run:/var/run/headscale
    command: serve
    healthcheck:
        test: ["CMD", "headscale", "health"]

  headscale-ui:
    image: ghcr.io/gurucomputing/headscale-ui:latest
    container_name: headscale-ui
    restart: unless-stopped
    ports:
      - "8001:8080"
    environment:
      - AUTHENTICATION_METHOD=disabled
      - HEADSCALE_API_URL=http://headscale:8080
    depends_on:
      - headscale

  pangolin:
    image: fosrl/pangolin:latest
    container_name: pangolin
    restart: unless-stopped
    volumes:
      - ./pangolin/config:/app/config
    environment:
      - HEADSCALE_URL=http://headscale:8080
    ports:
      - "8002:3001"
      - "8003:3002"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/v1/"]
      interval: "3s"
      timeout: "3s"
      retries: 15
  
volumes:
  headscale_data: