services:
  headscale:
    build: ./headscale
    container_name: headscale
    restart: unless-stopped
    volumes:
      - headscale_data:/var/lib/headscale
      - ./headscale/data:/var/lib/headscale
    ports:
      - "8080:8080"
    command: serve
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
  
  headplane:
    build: ./headplane
    container_name: headplane
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - './headplane/headplane-data:/var/lib/headplane'
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  headscale_data: