services:
  headscale:
    image: headscale/headscale:stable   # Alpine = has shell, easier debugging
    container_name: headscale
    restart: unless-stopped
    ports:
      - "0.0.0.0:8080:8080"
      - "0.0.0.0:9090:9090"
    volumes:
      - headscale_data:/var/lib/headscale
      - ./headscale/config:/etc/headscale
      - ./headscale/lib:/var/lib/headscale
      - ./headscale/run:/var/run/headscale
    command: serve
    healthcheck:
        test: ["CMD", "headscale", "health"]

  headscale-ui:
    image: ghcr.io/gurucomputing/headscale-ui:latest
    container_name: headscale-ui
    restart: unless-stopped
    ports:
      - "8001:8080"
    environment:
      - AUTHENTICATION_METHOD=disabled
      - HEADSCALE_API_URL=http://headscale:8080
    depends_on:
      - headscale
  
volumes:
  headscale_data: