services:
  traefik:
    image: "traefik:v3.2"
    container_name: "traefik"
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
    networks:
      - traefik
    volumes:
      - "./traefik/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/config/static.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/config/dynamic.yml:/etc/traefik/dynamic.yaml:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.t99ltd.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api/overview`) || PathPrefix(`/api/version`) || PathPrefix(`/api/http`) || PathPrefix(`/api/entrypoints`) || PathPrefix(`/api/tcp`) || PathPrefix(`/api/udp`))"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver"
      - "traefik.http.routers.dashboard.service=api@internal"
      # # if you want to password protect your traefik dashboard uncomment the following and change the user:pass
      #- "traefik.http.routers.dashboard.middlewares=auth"
      #- "traefik.http.middlewares.auth.basicauth.users=" # to create user and pass:   bash -c 'echo $(htpasswd -nB admin) | sed -e s/\\$/\\$\\$/g'

  headscale:
    image: headscale/headscale:stable
    container_name: headscale
    restart: unless-stopped
    volumes:
      - headscale_data:/var/lib/headscale
      - ./headscale/config:/etc/headscale
      - ./headscale/data:/var/lib/headscale
    ports:
      - "8080:8080"
    command: serve
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.headscale.rule=Host(`headscale.t99ltd.com`)"
      - "traefik.http.routers.headscale.entrypoints=websecure"
      - "traefik.http.routers.headscale.tls.certresolver=myresolver"
      - "traefik.http.services.headscale.loadbalancer.server.port=8080"

  headscale-ui:
    image: ghcr.io/gurucomputing/headscale-ui:latest
    container_name: headscale-ui
    restart: unless-stopped
    environment:
      - AUTHENTICATION_METHOD=disabled
      - HEADSCALE_API_URL=http://headscale:8080
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.headscale-ui.rule=Host(`headscale-ui.t99ltd.com`)"
      - "traefik.http.routers.headscale-ui.entrypoints=websecure"
      - "traefik.http.routers.headscale-ui.tls.certresolver=myresolver"
      - "traefik.http.routers.headscale-ui.service=headscale-ui"
      - "traefik.http.services.headscale-ui.loadbalancer.server.port=8080"

  pangolin:
    image: fosrl/pangolin:latest
    container_name: pangolin
    restart: unless-stopped
    volumes:
      - ./pangolin/config:/app/config
    environment:
      - HEADSCALE_URL=http://headscale:8080
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.pangolin.rule=Host(`pangolin.t99ltd.com`)"
      - "traefik.http.routers.pangolin.entrypoints=websecure"
      - "traefik.http.routers.pangolin.tls.certresolver=myresolver"
      - "traefik.http.routers.pangolin.service=pangolin"
      - "traefik.http.services.pangolin.loadbalancer.server.port=3002"

  # traefik-dashboard:
  #   image: traefik/whoami
  #   container_name: traefik-dashboard
  #   networks:
  #     - traefik
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.traefik.rule=Host(`traefik.t99ltd.com`)"
  #     - "traefik.http.routers.traefik.entrypoints=websecure"
  #     - "traefik.http.routers.traefik.tls.certresolver=le"
  #     - "traefik.http.routers.traefik.service=api@internal"

volumes:
  headscale_data:

networks:
  traefik:
    external: true